<footer>
  <!-- CONTACT -->
  <div id="contact">
    <h3>Contact</h3>
    <p>Primăria Comunei Coșeiu</p>
    <p>
      📌 Adresă: Strada Principală, Coșeiu, Județul Sălaj, România, Cod poștal
      457080
    </p>
    <p><i class="fa-solid fa-envelope"></i> Email: primariacoseiu@yahoo.com</p>
    <p>⌚ Program de lucru: Luni - Vineri, 8:00 - 16:00</p>
  </div>

  <!-- GALERIE  -->
  <div id="gallery">
    <h3>Galerie</h3>
    <p>Imagini reprezentative din comuna Coșeiu:</p>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/4/48/RO_SJ_Coseiu_%281%29.jpg"
      alt="Intrarea în localitate"
      loading="lazy"
    />
    <img
      src="https://scontent-bcn1-1.xx.fbcdn.net/v/t39.30808-6/292539156_162998962935779_56881578253331917_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=1d70fc&_nc_ohc=VXLalJQIO-MQ7kNvwHvcD09&_nc_oc=AdqqZgYzQLsF3zHyoY7TMHoTjJmxRzfUdr89LSluWwo9tcgq6G9i4TFQfGdHU98o_ho&_nc_zt=23&_nc_ht=scontent-bcn1-1.xx&_nc_gid=3Xl8aE9VE3IZPfLWBoRS7w&_nc_ss=7a3a8&oh=00_Afx978pXWv6J_1JOcbctYmV9XoyruRYxs5ZS9v2PYbOnaw&oe=69D1E33F"
      alt="Primăria Coșeiu"
      loading="lazy"
    />

    <img
      src="https://upload.wikimedia.org/wikipedia/commons/4/48/RO_SJ_Coseiu_%284%29.jpg"
      alt="Primăria comunei Coșeiu"
      loading="lazy"
    />
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/4/48/RO_SJ_Coseiu_%289%29.jpg"
      alt="Clopotnița de lemn a bisericii reformate"
      loading="lazy"
    />
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/4/48/RO_SJ_Coseiu_%285%29.jpg"
      alt="Biserica reformată din Coșeiu"
      loading="lazy"
    />
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/RO_SJ_Biserica_reformata_din_Coseiu_%282%29.jpg/960px-RO_SJ_Biserica_reformata_din_Coseiu_%282%29.jpg"
      alt="Biserica reformată din Coșeiu - imagine suplimentară"
      loading="lazy"
    />
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/RO_SJ_Biserica_reformata_din_Coseiu_%2831%29.jpg/500px-RO_SJ_Biserica_reformata_din_Coseiu_%2831%29.jpg"
      alt="Biserica reformată din Coșeiu - portal gotic"
      loading="lazy"
    />
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/4/48/RO_SJ_Coseiu_(2).jpg"
      alt="Vedere generală a comunei Coșeiu"
      loading="lazy"
    />
  </div>

  <!-- VIDEO -->
  <div id="videos">
    <h3>Video</h3>
    <iframe
      src="https://www.youtube.com/embed/YeE9TTFc9uQ"
      loading="lazy"
      allowfullscreen
    ></iframe>
  </div>

  <div class="copyrights">
    <p>© 2026 Comuna Coșeiu Clone</p>
    |
    <p>
      by
      <a
        href="https://truscaivoichita.github.io"
        target="_blank"
        rel="noopener noreferrer"
        >kit@</a
      >
    </p>
  </div>
</footer>
