<section id="home" class="hero">
  <!-- <div class="hero-content">
    <h1 data-i18n="home.title">🏡 Comuna Coșeiu</h1>
    <p data-i18n="home.subtitle">
      Bine ați venit pe site-ul oficial al comunei Coșeiu, județul Sălaj.
    </p>

    <div class="hero-buttons">
      <a href="#administratie" class="btn btn-glass" data-i18n="home.btn_admin">
        Administrație
      </a>
      <a
        href="#comunitate"
        class="btn btn-glass"
        data-i18n="home.btn_comunitate"
      >
        Comunitate
      </a>
    </div>
  </div> -->

  <!-- <div class="hero-image">
    <img src="assets/images/comuna.png" alt="Comuna Coșeiu" loading="lazy" />
  </div>

  <section class="quick-links">
    <div class="quick-card">
      <i class="fa-solid fa-file"></i>
      <h3 data-i18n="home.quick_docs">Documente</h3>
      <p data-i18n="home.quick_docs_desc">
        Accesează
        <a href="#hotarari_consiliu" class="btn-link btn-section"
          >hotărâri de consiliu</a
        >, <a href="#anunturi" class="btn-link btn-section">anunțuri</a> și acte
        oficiale.
      </p>
    </div> -->

  <!-- <div class="quick-card">
      <i class="fa-solid fa-users"></i>
      <h3 data-i18n="home.quick_cetateni">Cetățeni</h3>
      <p data-i18n="home.quick_cetateni_desc">
        Informații utile pentru
        <a href="#comunitate" class="btn-link btn-section">locuitori</a>,
        <a href="#plati_online" class="btn-link btn-section">plăți</a> și
        servicii publice.
      </p>
    </div>

    <div class="quick-card">
      <i class="fa-solid fa-leaf"></i>
      <h3 data-i18n="home.quick_mediu">Mediu</h3>
      <p data-i18n="home.quick_mediu_desc">
        Proiecte și inițiative pentru
        <a href="#mediu" class="btn-link btn-section">protecția mediului</a>.
      </p>
    </div> 
  <-- </section> 

   <section class="news">
    <h2 data-i18n="home.news_title">📢 Noutăți</h2>
    <div class="news-list">
      <article class="news-item">
        <h4>Ședință Consiliu Local</h4>
        <p>Convocare pentru data de 25 mai 2026.</p>
      </article>

      <article class="news-item">
        <h4>Proiect buget local</h4>
        <p>Consultare publică deschisă pentru cetățeni.</p>
      </article>
    </div>
  </section> -->
</section>
